
/* Estilo para a área do jogo */
#fundo {
    position: absolute;
    top: 5vw;
    left: 5vw;
    width: 90vw;
    height: 40vw;
    background-color: black;
    text-align: center;
    color: aliceblue;
}

#instrucao {
    position: absolute;
    top: 2vw;
    left: 20vw;
    font-size: 1em;
    color: yellow;
    font-weight: bold;
    text-align: center;
}

#vamoslah {
    visibility: hidden; /* Oculta a div inicialmente */
    top: 2vw;
    font-size: 1em;
    color: yellow;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

/* Estilo para a mensagem de conclusão do jogo */
#mensagem {
    position: absolute;
    top: 5vw;
    left: 15vw;
    font-size: 1em;
    color: yellow;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

/* Estilo para as figuras */
.figura {
    position: absolute;
    width: 10vw;
    height: 10vw;
    background-color: gray;
    color: black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    z-index: 2; /* Mantém as figuras à frente */
}


/* Estilo para o personagem controlado */
#div1 {
    position: absolute;
    top: 2vw;
    left: 5vw;
    width: 5vw;
    height: 5vw;
    background-color: blue;
    z-index: 3; /* Div1 sempre à frente */
}

#reiniciar {
    margin-left: 5px;
}


/* Estilo para a nova figura que aparece após a colisão */
.nova-figura {
    position: absolute;
    width: 10vw;
    height: 10vw;
    background-color: red;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    z-index: 3; /* A nova figura será exibida no topo */
}

/* Estilo para o painel de controle */
.painel {
    position: absolute;
    top: 55vh; /* Reduz a distância da parte inferior do #fundo */
    left: 10vw;
    width: 20vw;
    height: 20vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2px;
}

    #placar {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: rgba(145, 141, 137, 0.7);
        color: white;
        padding: 3px;
        border-radius: 8px;
        font-size: 1rem;
        text-align: left;    
        opacity: 0.8; /* Transparência aplicada a toda a div */
        transform: scale(0.7); /* 80% do tamanho original */
        transform-origin: top right; /* mantém a posição no canto superior direito */


    }


   
    



    
    @media (max-width: 480px) {

        #fundo {
            width: 80vw; /* Ocupa 70% da largura da tela */
            height: 70vh; /* Ajusta a altura para caber na tela */
            left: 5vw; /* Centraliza horizontalmente */            
        }		
		
		 /* Distribui uniformemente as figuras */
        .figura {
            width: 15vw; /* Ajusta o tamanho das figuras */
            height: 15vw;
            
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            border-radius: 5px; /* Bordas arredondadas */
            margin-top: 70px;            
        }
    
       
         /* Ajusta o placar */
        #placar {
            position: relative; /* Para estar dentro do fluxo da div */
            width: 30%; /* 80% da largura da div fundo */
            margin-top: 200px; /* Espaço acima do placar */
            font-size: 1rem;
            text-align: left;
        }
    
        .painel {
            top: 75vh; /* Ajuste o top para aproximar do fundo */
            left: 10vw;
            width: 70vw;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
        }
    
        /* Botões no painel */
        .painel button {
            height: 10vw;
            width: 15vw;
            font-size: 0.9rem;
        }

        #div1 {
            width: 8vw; /* Ajusta o tamanho do personagem no modo horizontal */
            height:10vw;   
            left: 30vw;
        }

        #instrucao {
            top: 15vw;
            left: 10vw;
            font-size: 0.7rem; 
        }
    }



    @media (orientation: landscape) {
        #fundo {
            width: 70vw; /* Ocupa 70% da largura da tela */
            height: 90vh; /* Ajusta a altura para caber na tela */
            left: 5vw; /* Centraliza horizontalmente */
        }
    
        .painel {
            position: absolute;
            top: 55%; /* Centraliza verticalmente */
            left: calc(5vw + 70vw + 2vw); /* Posiciona à direita do fundo com margem */
            transform: translateY(-45%); /* Ajuste para centralização vertical */
            width: 10vw; /* Define uma largura proporcional */
            height: auto; /* Ajusta a altura ao conteúdo */
            display: flex;
            flex-direction: column; /* Botões em coluna */
            justify-content: center;
            align-items: center;
            gap: 2px; /* Espaçamento entre os botões */
        }
    
        .painel button {
            padding: 1px;
            font-size: 0.8rem;
            width: 80%; /* Botões ocupam toda a largura do painel */
            min-width: 60px; /* Tamanho mínimo para os botões */
        }
    
        #instrucao {
            left: 15vw;
        }
    
        #mensagem {
            /* Estilo adicional pode ser adicionado aqui */
        }
    
        #div1 {
            width: 7vw; /* Ajusta o tamanho do personagem no modo horizontal */
            height: 7vw;
        }
    
        .figura {
            width: 8vw; /* Ajusta o tamanho dos baús no modo horizontal */
            height: 8vw;
        }
    }
    
